body{
    font-family: rubik;
    font-style: medium;
}
.header-top{
    height: 105px;
    width: 1440px;
    background-color: #04c9ec;
    font-style: regular;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.header-1{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.header-2{
    width: 500px;
    display: flex;
    justify-content: space-around;
}
.valyuta{
    color: black;
    text-decoration: none;;
    font-size: 16px;
    line-height: 19px;
    font-style: mixed;
    font-weight: 400;
}
.valyuta-logo{
    color: #2959CE;
    font-weight: 600;
}
.poisk{
    background-color: #F6F6F6;
    color: #8D8D8D;
    height: 45px;
    width: 275px;
    display: flex;
    align-items:center; 
    text-decoration: none;
    line-height: 40px;
    font-size: 14px;
    line-height: 16px;
}
.lang-box{
    display: flex;
    align-items:center; 
    height: 36px;
    width: 70;
    background-color: #DCE6FF;
}
.leangue1{
    background-color: #FFFFFF;
    color: black;
    height: 30px;
    width: 30px;
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;   
}
.leangue{
    color: #A6A6A6;
    text-decoration: none;
    line-height: 40px;
    font-size: 13px;
    line-height: 15px;
}
.voyti{
    background-color: #7296EC;
    color: #F6F6F6;
    width: 89px;
    height: 45px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.tepa-menu{
    display: flex;
    justify-content: space-between;
    color: #7F7F7F;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500; 
}

.box{
    height: 392px;
    width: 382px;
    list-style: none;
    background-color: #F6F6F6;
}
.elon{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items:space-around;

}
.mavzu{
    color: black;
    text-decoration: none;
    font-size: 19px;
    line-height: 26px;
    font-weight: 500;
}
.mavzu-comment{
    color: #4A4B4C;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
}
.comment-avtor{
    color: #5E5F61;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400
}
.box2{
    display: flex;
    justify-content:space-around;
    align-self: center;
    height: 205px;
    width: 797px;
    list-style: none;
    background-color: #F6F6F6;
}
.box3{
    height: 502px;
    width: 393px;
    list-style: none;
    background-color: #F6F6F6;
    line-height: 18px;
}
.mavzu-glavnoye{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}
.glavnoye-comment{
    color: #5E5F61;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
}
.pas-menu{
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    background-color: #7297EF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}
.pas-coment{
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
}